@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  color: #2C3078
}

.font-taprom {
 font-family: "Taprom";
}
/* Hide scrollbar by default */
.custom-scroll::-webkit-scrollbar {
  height: 0px;
  transition: all 0.3s ease;
}

/* Show scrollbar on hover */
.group:hover .custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.group:hover .custom-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

.group:hover .custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

